<h1>Register Band!</h1>

<form action="/bands" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="band_name">Band Name</label>
  <input type="text" name="band[name]" id="band_name">
  <br>

  <input type="submit" value="Register!">
</form>
